/*.bootstrap-table {
    width: 80%;
    text-align: center;
    float: top;
    margin-left:auto;
    margin-right:auto;
}loadStockInfo

#dtBasicExample {
    border: 5px solid rgba(31,34,110,0.61);
    padding: 10px;
    font-family: Palatino, URW Palladio L, serif;
}

#dtBasicExample td{
    border-style: solid;
    border-width: 1px;
    border-color: #4F3DBF;
}

th[rowspan="2"] {
    text-align: center;
}

#dtBasicExample thead{
    color: white;
    border-bottom: 5px inset #FFFFFF;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
*/

#dtBasicExample {
    background-color: #ffffff;
    text-align: center;
}

.bootstrap-table {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("pet_project_background.jpg");
    margin-top: 100px;
}

#chart_div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fas.fa-angle-double-up {
    color: forestgreen;
    font-size: 30px;
}

.fas.fa-angle-double-down {
    color: red;
    font-size: 30px;
}
.fas.fa-minus {
    color: blue;
    font-size: 30px;
}

.time {
    font-size: small;
}
.nav-buttons {
    margin: 10px 0
}
.nav-buttons {
    text-align: right;
}
.increase {
    color: forestgreen;
}
.decrease {
    color: red;
}
.fa-meh {
    color: blue;
}
.fa-frown {
    color: red;
}
.fa-smile {
    color: forestgreen;
}

.ui-autocomplete {
    z-index:2150000000;
    background-color: white;
    width: max-content;
    font-family: sans-serif;
    margin-top: 5px;
    border-radius: 5px;
}
.ui-autocomplete:hover {
    z-index:2150000000;
    cursor: pointer;
}
.ui-helper-hidden-accessible {
    display: none;
}

.ticker {
  transition: 0.3s;
}

.ticker:hover {
  background-color: #5a6268;
  color: white;
}
