{% raw %}
<script id="data-row-template" type="text/x-handlebars-template">
    <tr>
        <td>{{ticker}}</td>
        <td>{{name}}</td>
        <td>{{actual_price}}</td>
        <td>{{daily_price_change}}</td>
        <td>{{daily_price_rel_change}}</td>
        <td>{{mkt_time}}</td>
        <td>{{local_time}}</td>
        <td><i class="{{trends.shortTermTrend}}"></i></td>
        <td><i class="{{trends.midTermTrend}}"></i></td>
        <td><i class="{{trends.longTermTrend}}"></i></td>
    </tr>
</script>
{% endraw %}
