{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_page_stylesheet.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />



    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>

    <script type="module" src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}" defer></script>

{% endblock %}
{% block content %}
    {% if not session.username %}
        {% include 'login_or_register.html' %}
    {% else %}
        {% include 'stock_exchange_data.html' %}
        {% include 'data_row_template.html' %}
        {% include 'add_stock_modal.html' %}
    {% endif %}
{% endblock %}
