{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_page_stylesheet.css')}}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
{% endblock %}
{% block content %}
    {% if not session.username %}
        {% include 'login_or_register.html' %}
    {% else %}
        {% include 'stock_exchange_data.html' %}
        {% include 'data_row_template.html' %}
    {% endif %}
{% endblock %}
