<template id="stock-info-template">
    <div class="container">
        <div id="header" class="row justify-content-end">
            <div class="nav-buttons">
            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-caret-left"> Back</i></button>
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-sync"> Refresh</i></button>
            </div>
        </div>
        <div id="stock-details" class="row mb-5 pt-2 bg-light border border-primary rounded">
            <div class="col">
                <div class="row mb-2">
                    <div class="col"><h2>General company info</h2></div>
                </div>
                <div class="row mb-2"><div class="col col-sm-1">Name:</div><div id="stock-name" class="col col-sm-11"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Description:</div><div id="stock-description" class="col col-sm-11 text-justify"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Country:</div><div id="stock-country" class="col col-sm-11"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Sector:</div><div id="stock-sector" class="col col-sm-11"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Industry:</div><div id="stock-industry" class="col col-sm-11"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Website:</div><div id="stock-website" class="col col-sm-11"></div></div>
                <div class="row mb-2"><div class="col col-sm-1">Employees:</div><div id="stock-employees" class="col col-sm-11"></div></div>
            </div>
        </div>
        <div id="news" class="row mb-5 border border-primary rounded p-2">
            <div class="col">
                <div class="row"><div class="col"><h2>News feed</h2></div></div>
                <div class="row overflow-auto"><div id="stock-news" class="col"></div></div>
            </div>
        </div>
        <div class="row mb-5 bg-white border border-primary rounded p-2">
            <div class="col">
            <div class="row"><div class="col"><h2>Chart title</h2></div></div>
            <div class="row"><div id="chart-display" class="col"></div></div>
            </div>
        </div>
    </div>
</template>
