
<script id="table-header-template" type="text/x-handlebars-template">
    <div class="bootstrap-table">
        <div class="nav-buttons">
            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-plus-circle"> Add new stock</i></button>
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-sync"> Refresh data</i></button>
        </div>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="12">ACTUAL PRICE OF WATCHED STOCKS</th>
                </tr>
                <tr>
                    <th rowspan="2" style="vertical-align: middle">Ticker</th>
                    <th rowspan="2" style="vertical-align: middle">Stock</th>
                    <th class="th-sm">Actual Price</th>
                    <th class="th-sm" colspan="2" style="vertical-align: middle">Daily Change</th>
                    <th class="th-sm" colspan="3" style="vertical-align: middle">Trends</th>
                    <th class="th-sm" colspan="2" style="vertical-align: middle">Date of Last Change</th>
                    <th rowspan="2" style="vertical-align: middle">Remove</th>
                </tr>
            <tr>
                <th>$</th>
                <th>$</th>
                <th>%</th>
                <th>Short-term</th>
                <th>Mid-term</th>
                <th>Long-term</th>
                <th>Market / Local Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</script>
