<template id="stock-news-template">
        <div class="row border rounded mt-3 p-1 bg-white">
            <div id="news-sentiment" class="col col-sm-1 align-self-center text-center far"></div>
            <div class="col"><img id="news-picture" src="" alt="news image" height="100px" width="auto"></div>
            <div class="col col-md-5"><a id="news-title" href=""></a></div>
            <div id="news-publisher" class="col"></div>
            <div id="news-date" class="col"></div>
        </div>
</template>